# Python Introduction (and comparison to MATLAB)

This document will go over the basic features of python, assuming familiarity with programming concepts. Much comparison is made to MATLAB, since students should be familiar with MATLAB from prerequisite classes.

This is a Jupyter notebook, so the last expression will appear below blocks of code, as the output. It is adapted from the offical [python tutorial](https://docs.python.org/3.9/tutorial/index.html) which is highly reccomended for further reading and details. Feel free to interact with this notebook: change the cells to see how the output changes, or add your own cells to test your understanding.

## Operators

These operators are listed in order of precedence (top evaluate first). Parentheses can be used to group expressions. See this [precedence table](https://www.mathcs.emory.edu/~valerie/courses/fall10/155/resources/op_precedence.html) for a complete list of all operators and their precedence.

### Mathematical

* `**` exponentiation
* `*` multiplication, `/` division
* `+` addition, * `-` subtraction

### Boolean

* `not`
* `and`
* `or`

### Comparison (all same precedence level)

* `==` equality
* `!=` negative equality
* `>` greater than
* `<` less than
* `>=` greater than or equal to
* `<=` less than or equal to

## Operation on real numbers

Numbers can be added, subtracted, multiplied and divided using the standard symbols, and parentheses can be used, just like in MATLAB, to group operations.

In [55]:
1 + 2

3

In [56]:
4 - 6.0

-2.0

In [57]:
3 * 9

27

In [58]:
8 / 2

4.0

The power operator in python is different than in MATLAB: use `**` for exponents.

In [61]:
2 ** 8

256

#### A note on Python types

Notice that expressions containing only integers return integer results, but any expression with a mixture of floating-point numbers and integers returns a floating-point number. One exception to this is division, which always returns a floating-point number. This is because python anticipates that a floating-point number could be the result. This is a recurring idea in Python's design: the types of variables are automatically converted when it is appropriate.

The operators `//` and `%` can be used for [floor division and remainder](https://docs.python.org/3/tutorial/introduction.html#numbers).

### Strings

String literals in Python can be specified using single quotes `''` or double quotes `""`. It does not matter to Python which is used, but it is probably good to be consistent. Jupyter Notebook will show strings which are output in single quotes.

In [62]:
"hello"

'hello'

In [63]:
'world'

'world'

Strings can be combined using the `+` operator, which will concatenate the strings together. The `*` operator can also be used to multiply a string by a number and get that number of copies as a single string.

In [64]:
"ME " + "418"

'ME 418'

#### Indexing

Individual characters or portions of strings can be accessed by indexing. In python, the square brackets `[]` are used for indexing, which can be done on strings as well as many other data types which store multiple items such as lists and tuples. This is different from MATLAB, where parentheses `()` are used for indexing. Indexes start at 0, unlike in MATLAB where they start at 1. Lists, which are discussed next, are indexed in the same way, as well as many other data types which store multiple elements, known as sequence types.

In [65]:
s1 = "Cal Poly"
s1[4]

'P'

In [66]:
s1[0]

'C'

Ranges of strings can be accessed using a syntax with a colon. This is known as slicing. The form is `variable[start:stop:step]`. Note that the value at the stop index is not included. The start or end value can be ommitted, and they will be replaced with the beginning or end of the list, respectively.

This is similar to the use of the colon MATLAB, but there are some key differences. MATLAB uses the syntax `start:step:stop` to index arrays, and the stop index __is__ included. Also, the colon can be used for vector creation. In Python this is not an option, but [`range(start, stop, step)`](https://docs.python.org/3/tutorial/controlflow.html#the-range-function) can be used for similar functionality.

In [67]:
"123456789"[:9:2]

'13579'

Keep in mind that strings are immutable, so you cannot change a string by assigning to an index.

In [68]:
s1[1:3] = "ow"

TypeError: 'str' object does not support item assignment

### Booleans

Boolean values in python are either `True` or `False`. Note that this is case-sensitive. Booleans can be modified and combined using the boolean operators `and`, `or` and `not`.

In [70]:
1 == 1

True

In [71]:
not 1 == 1 or 2 == 3

False

Probably the most common time that booleans will be created is as the result of comparison operations. These include:

* `==` equal
* `!=` not equal
* `>` greater than
* `<` less than
* `>=` greater than or equal to
* `<=` less than or equal to

In [72]:
4 >= 4

True

In [73]:
3 < 2

False

In [74]:
'test' != 'test'

False

### Lists
Multiple values can be stored in a list in python. These items can be of any type, even other lists. Lists are enclosed with square brackets `[]`. Unlike MATLAB syntax, the comma between elements of the list is mandatory in Python. Lists can be indexed and sliced using square brackets. Multiple-dimensional lists can be created by nesting lists.

In [8]:
data = [1, 2, 3, 4]

In [76]:
data2 = [1 2 3 4]

SyntaxError: invalid syntax (4261260005.py, line 1)

In [77]:
twoD = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
twoD[1][2]

6

Lengths of lists and strings can be computed using `len()`.

In [78]:
len(twoD)

3

In [79]:
len(s1)

8

You can create an empty list using [].

In [18]:
a=[]

whose lenth is

In [15]:
len(a)

0

An element can be appended to a list using `append()`.

In [19]:
a.append(5)
print(a)

[5]

## Program Structure

Python uses indentation and colons to form blocks of code. This is different from MATLAB which uses the `end` keyword, and other languages which use curly brackets. 4 spaces per indentation level is standard.

### Functions

Functions in python are defined using the `def` keyword. This is followed by the name of the function, and then the names of its parameters, enclosed in parentheses and separated by commas. Finally, a colon ends the function definition and the function body follows, indented one level further.

In [80]:
def square(x):
    return x ** 2

16

To call the functin, you can use

In [ ]:
square(4)

Functions can take multiple arguments. The function returns when it reaches the end of its body, or the first time it reaches a `return` statement. Functions can also have [optional and keyword arguments](https://docs.python.org/3/tutorial/controlflow.html#more-on-defining-functions). In the example below, print defalts to seperating multiple values with a space and ending with a newline, but this can be changed.

In [81]:
print(1, 2, 3)
print(1, 2, 3, sep=' x ', end='end\n')

1 2 3
1 x 2 x 3end

### Control Flow

#### `if, elif, else`

These control flow operators in Python are used with the same indentation style. No parentheses are necessary for the condition. The order is as follows: 1 `if` statement, 0 or more `elif` statements, then 0 or 1 `else` statement.

In [82]:
velocity = -10
if velocity > 0:
    print("Positive")
elif velocity < 0:
    print("Negative")
else:
    print("Zero")

Negative

#### `while`

`while` can be used to execute a block of code as long as a boolean condition is `True`. This is especially useful on microcontrollers, where we want code to run in a loop indefinitely.

#### `for`

For loops are similar to MATLAB for loops, where they always run on a sequence. However, indexing inside a for loop is usually not required, as the loop is over the elements of the sequence, which are not required to be numbers.

In [83]:
fruits = ["apple", "orange", "strawberry", "banana"]
for fruit in fruits:
    print(fruit)

apple
orange
strawberry
banana

For loops are always used on some type of sequence, such as a list or string. The variable after the keyword `for` is the variable which is updated for every run of the loop. The expression after `in` is the sequence. The loop will run once for each element in the sequence.

If you need to do a for loop over a range of numbers, you can use the `range()` function. This can be useful when dealing with data in multiple lists of the same length.

In [1]:
for n in range(0,9):
    print(n)

0
1
2
3
4
5
6
7
8

The line "for n in range(0,9):" is equivalent to "for n=1:8" in MATLAB.